body{background-color:#353636;
}
h2{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 22px;
color:rgb(212, 195, 195);
}
h3{
font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
color: rgb(212, 195, 195);
}
h3, h2, p{
text-align:center;
}
.logo{
width: 50px;
height: 50px;
}
img{
text-align: center;
width: 300px;
height: 250px;
}
button{
display: block;
margin: 0 auto;
color:brown;
background-color: red;
padding: 15px 32px
}
#ele:hover {
box-shadow: 0 0 2px 1px blue;
transform: scale(1.5);
}
button:hover{
background-color:blue;
}
#tabla1 tr:hover {
background-color: pink;
}
#tabla1 {
    margin:0 auto;
}
boton3{
border: 5px ridge #0C0018;
background-color: #D9D7DE;
padding: 2px;
display: flex;
text-align: left;
}
#peon:hover {
  width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon2:hover {
    width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon3:hover {
    width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon4:hover {
    width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);
}
#peon5:hover {
   width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon6:hover {
    width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon7:hover {
  width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon8:hover {
    width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon9:hover{
   width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);
}

#peon10:hover {
    width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon11:hover {
    width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon12:hover {
    width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon13:hover {
    width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon14:hover {
    width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon15:hover {
    width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon16:hover {
    width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon17:hover {
    width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon18:hover {
    width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon19:hover {
    width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon20:hover {
    width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon21:hover {
    width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);

}
#peon22:hover {
    width: 300px;
  height: 250px;
  border-radius: 10%;
  border: 2px solid rgb(0, 132, 255);
  transform: scale(1.1);
}