body{background-color:#AA6C39;}
h2{
font-family: arial;
font-size: 45px;
color:white;
text-align: center;
}
h3, h2, p{
text-align:center;
}
img{
display: block;
margin: 0 auto;
}
#ele{
windh: 280px;
height: 230px;
border-radius: 70%;
border: 2px solid #C21EC2;
}
button{
display: block;
margin: 0 auto;
color:brown;
background-color: #ffh000;
padding: 15px 32px
}
#ele:hover {
box-shadow: 0 0 2px 1px blue;
transform: scale(1.5);
}
button:hover{
background-color:blue;
}
#tabla1 tr:hover {
background-color: pink;
}
.noticias {
boder: 5px ridge #0C0018;
background-color: #D9D7DE;
padding: 2px;
display: flex;
flex-direction: column;
}
.noticias p {
font-family: Fantasy;
text-align: center;
}